/node_modules/
/.git/
/**/Thumbs.db
/**/*.DS_Store
/public_html/.idea
/public_html/.htaccess
/public_html/bitrix
/public_html/upload
/public_html/*.txt
/public_html/*.xml
/public_html/~extra~/
/public_html/2018/
/public_html/about/
/public_html/auth/
/public_html/bio/
/public_html/contacts/
/public_html/dev/
/public_html/group/
/public_html/handlers/
/public_html/illyuzii/
/public_html/images/
/public_html/kosm/
/public_html/kosmos/
/public_html/main/
/public_html/map/
/public_html/new/
/public_html/new/
/public_html/new/
/public_html/New Folder/
/public_html/news/
/public_html/otzyvy/
/public_html/personal/
/public_html/projects/
/public_html/search/
/public_html/show/
/public_html/test/
/public_html/tourandevents/
/public_html/volshebnik/
/public_html/*.log
/public_html/~*.php
/public_html/*.html
/public_html/*.txt
/public_html/*.config
/public_html/*.htaccess
/public_html/*.htaccess~
/public_html/*.sql
*.md
