@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto/Roboto-RegularItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Archangelsk";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Archangelsk/Archangelsk.ttf") format("ttf");
}

body {
  background: #010414;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.m-10 {
  margin: 10px;
}

.p-10 {
  padding: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.parent {
  background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

.b-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fx-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fx-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.fx-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fx-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.fx-grow-1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 10px #000;
}

.title--accent {
  color: #e6c85f;
}

.title--style-2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.3;
  color: #00c6ff;
}

.title--border {
  border: solid 1px #e6c85f;
  padding: 15px;
  border-radius: 2px;
  display: inline-block;
}

.title--small {
  font-size: 1rem;
}

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin: 0 10px;
  color: #00abff;
}

.icon:hover {
  color: #e6c85f;
}

.icon__foot {
  line-height: 1;
}

.social__link {
  opacity: 1;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-whatsapp {
  height: 30px;
  width: 30px;
}

.icon-library {
  width: 1.0625em;
}

.icon__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.rate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00fdff;
  text-transform: uppercase;
}

.rate__text {
  margin: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.rate__bar {
  background: url("../img/@2x/rate/rate_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 331px;
  height: 31px;
  position: relative;
}

.rate__bar__l {
  background: url("../img/@2x/rate/rate_l.png") left;
  position: relative;
  width: 325px;
  height: 18px;
  top: 7px;
  left: 3px;
}

.rate__bar__d {
  background: url("../img/@2x/rate/rate_d.png");
  height: 18px;
  top: 7px;
  width: 35%;
}

.rate__perc {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}

.rate__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.text--bold {
  font-weight: bold;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--center {
  text-align: center;
}

.text--blue {
  color: #00c6ff;
}

.text--accent {
  color: #e6c85f;
}

.text--bg-dark {
  background: rgba(1, 4, 20, 0.6);
  padding: 15px;
}

.text--right {
  text-align: right;
}

.text--big {
  font-size: 1.5rem;
}

.list--nostyle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.buy-billets {
  margin: 10px;
  color: #ee005a;
  font-weight: bold;
  font-size: 18px;
}

.buy-billets .btn {
  margin-right: 30px;
}

.buy-billets .promocode {
  color: #fff;
}

.btn {
  display: block;
  position: relative;
}

.btn--img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 0;
}

.btn--buy {
  width: 150px;
  height: 60px;
  background-image: url("../img/@2x/buttons/btn-buy.png");
}

.btn--premiere {
  background-image: url("../img/@2x/buttons/btn--premiere.png");
  width: 170px;
  height: 65px;
}

.btn--promocode:after {
  width: 100%;
  text-align: center;
  position: absolute;
  content: "Промокод: 2020";
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -5px;
  font-size: 12px;
}

.header {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.header__menu {
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgba(1, 4, 20, 0.6);
}

.header__top-offer {
  margin: 0 auto;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.nav__item {
  position: relative;
}

.nav__item:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 90%;
  background: #e6c85f;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav__item:last-child:after {
  width: 0;
}

.nav__link {
  color: #e6c85f;
  padding: 10px 25px;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.nav__link:hover {
  text-shadow: 0 0 5px #e6c85f;
}

.b-hero {
  background: url("../img/@1x/hero__bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.b-hero__brothers {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 90vh;
  margin-top: 5vh;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.b-hero__brothers:after {
  position: absolute;
  content: "";
  clear: both;
}

.b-hero__brother {
  position: absolute;
  top: 0;
  height: 100%;
  max-height: 100%;
}

.b-hero__brother--1 {
  left: 25%;
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
  z-index: 1;
}

.b-hero__brother--2 {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.b-hero__brother--3 {
  right: 25%;
  -webkit-transform: translateX(25%);
      -ms-transform: translateX(25%);
          transform: translateX(25%);
  z-index: 2;
}

.b-hero__brother--mobile {
  display: none;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.b-hero__buy-billets {
  position: relative;
  z-index: 0;
}

.b-hero__show-offer {
  position: relative;
  bottom: 0;
  z-index: 4;
}

.b-hero__content {
  max-width: 100%;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 35vh;
}

.b-prime__banner {
  padding: 10px;
  width: 450px;
  max-width: 100%;
}

.b-prime__list {
  text-transform: uppercase;
}

.b-prime__list .list__item {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}

.b-plot {
  background: url("../img/@2x/plot__bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 100vh;
}

.b-plot .title {
  line-height: 1;
  margin-bottom: -10px;
  margin-left: 30px;
}

.b-plot__content {
  position: relative;
  padding: 30px;
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 60vh;
  padding-bottom: 20vh;
}

.b-plot__text {
  background: rgba(1, 4, 20, 0.6);
  padding: 20px 30px;
  width: 100%;
  height: 100%;
  z-index: 0;
  right: 0;
  top: 25px;
}

.b-about-brother {
  background: url("../img/@1x/about-brother__bg.png");
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-position: top center;
}

.b-about-brother__content {
  position: relative;
  margin-top: 65vh;
}

.b-about-brother__content .text {
  width: 500px;
  padding: 30px;
  max-width: 100%;
}

.b-about-brother__content .title {
  font-size: 1.5rem;
}

.b-about-brother__content .title--small {
  font-size: 1rem;
  width: 300px;
  line-height: 1.3;
  margin: 0 auto;
  margin-bottom: 15px;
}

.b-about-brother__video {
  margin-left: -25px;
}

.b-about-brother__list {
  font-size: 1rem;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.b-about-brother__list li {
  margin-bottom: 20px;
}

.b-about-brother__list li:last-child {
  margin-bottom: 0;
}

.b-scene {
  background: url("../img/@1x/scene__bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.b-scene__slider__item {
  width: 33%;
}

.b-timer {
  background: url("../img/@1x/timer__bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.b-timer__offer {
  width: 55%;
}

.b-timer__offer .title {
  text-align: right;
}

.b-timer__content {
  background: rgba(1, 4, 20, 0.6);
  padding: 30px;
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 60vh;
}

.b-timer .title {
  margin-left: 30px;
}

.b-timer__banner {
  margin: 25px auto;
  width: 600px;
  max-width: 100%;
}

.timer {
  position: relative;
  z-index: 2;
  font-family: "Archangelsk", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #15fdff;
  width: 450px;
  margin: 20px;
  margin-right: 0;
}

.timer__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.timer__body:after, .timer__body:before {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #00f0ff;
  background: rgba(0, 240, 255, 0.27);
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 50%;
}

.timer__body:before {
  margin-top: -20px;
}

.timer__body:after {
  margin-top: 10px;
}

.timer__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.timer__head {
  font-size: 30px;
  line-height: 30px;
  margin: 15px 0;
  text-transform: uppercase;
}

.timer__box {
  width: 119px;
  height: 155px;
  background: url("/img/timer__bg.png");
  font-size: 75px;
  line-height: 155px;
  position: relative;
}

.timer__box_l {
  margin-left: -20px;
}

.timer__box_r {
  margin-right: -20px;
}

.timer__box:after {
  content: '';
  display: block;
  width: 65px;
  height: 2px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 50%;
  margin-left: -32px;
  top: 50%;
  margin-top: -1px;
}

.timer__text {
  font-size: 24px;
  text-transform: uppercase;
}

.timer__m {
  margin: 0 120px 0 0;
}

.b-kassa {
  background: url("../img/@1x/kassa__bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.b-kassa__text {
  width: 600px;
  padding: 30px;
  max-width: 90%;
  padding-left: 60px;
}

.b-kassa__text a {
  color: #fff;
}

.b-kassa__text a:hover {
  color: #e6c85f;
}

.b-kassa__banner {
  margin-right: -25px;
  margin-top: 40px;
  z-index: 2;
}

.b-producer {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.b-producer__content {
  position: relative;
  max-width: 100%;
  width: 900px;
  margin: 25px auto;
  padding-top: 30px;
}

.b-producer__name {
  color: #e6c85f;
  position: relative;
  line-height: 1;
  padding-top: 5px;
  padding-left: 45px;
  margin-left: -45px;
}

.b-producer__name:before {
  position: absolute;
  content: "";
  background: url("../img/_src/star.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 30px;
  height: 30px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.b-producer .presentation-pdf {
  position: absolute;
  top: 0;
  right: 0;
  color: #e6c85f;
  padding-left: 55px;
}

.b-producer .presentation-pdf:before {
  position: absolute;
  content: "";
  background: url("../img/_src/pdf.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 35px;
  height: 44px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: .95rem;
}

.footer__left {
  width: 500px;
  max-width: 100%;
  text-align: center;
  margin: 30px;
}

.footer__logo {
  margin: 15px auto;
  margin-top: 0;
  width: 198px;
  height: 50px;
}

.footer__bay {
  font-size: 1rem;
}

.footer__bay a {
  color: #e6c85f;
  margin-top: 10px;
  font-weight: bold;
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer__bay a:hover {
  text-shadow: 0 0 10px #e6c85f;
}

.footer__canal {
  color: #00abff;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer__canal p {
  margin: 0;
}

.footer__canal__icon {
  margin-top: 15px;
  margin-bottom: 5px;
}

.footer__contact {
  color: #e6c85f;
  margin: 15px 0;
}

.footer__contact a {
  color: #e6c85f;
  line-height: 1.5;
}

.footer__contact a:hover {
  color: #fff;
}

.footer__partners img {
  max-width: 100%;
}
