
@media screen and (min-width: 1400px) and (max-width: 1599px) {
	
	.width_wrapper.brthr {width: 1100px;}
	
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
	
	.width_wrapper.brthr {width: 1500px;}
	
}

@media screen and (min-width: 2000px){
	.width_wrapper.brthr {width: 1600px;}

}